:root {
    --curve: 20;
  }
  
body {
  margin:  0;
  background-color: #f4f0e1;
  color: #000000;
  font-size: 18px;
  font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
  width:  100%;
}

.header-text {
  color: #91A88C;
}

.header-image {
  width: 300px;
}

.header {
  position: relative;
  display: inline-block;
  margin:  0 auto;
  text-align: center;
  width:  100%;
  background-color: #202824;
  padding-bottom:  16px;
  padding-top:  16px;
}

.content {
  margin:  0 auto;
  padding:  24px;
  text-align: center;
}

.card {
  position: relative;
  display: inline-block;
  height: 256px;
  width: 256px;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
  margin:  18px;
}

.back {
  background-color: #B53A25;
}

.front,
.back {
  margin: 16px;
  text-align: center;
  border-radius: calc(var(--curve) * 1px);
}

.inner {
  margin-top: 16px;
  background-color: #ffffff;
  margin-bottom: 32px;
  padding: 8px;
  font-size: 12px;
  height: 128px;
}

.name {
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
}

.then {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width:100%;
  max-height:100%;
  transform: translate(-50%, -50%);
}

.now {
  width: 60%;
  height: 60%;
}

.member-name {
  padding-top: 32px;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}