<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
        <script src="javascripts/flip.js"></script>
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    </head>
    <body>
        <div class="card"> 
            <div class="front">
                <img src="../images/babyphoto-caiello.jpg" class="then">
            </div>
            <div class="back">
                <div class="name">
                    Christina Aiello
                </div>
                <img src="../images/caiello.jpeg" class="now">
            </div>
        </div>
        <div class="card"> 
            <div class="front">
                <img src="../images/hgfhjgfhgfhg-caiello.jpg" class="then">
            </div>
            <div class="back">
                <div class="name">
                    kjhkjhkjhkj
                </div>
                <img src="../images/ujhgjkhgjhg.jpeg" class="now">
            </div>
        </div>
    </body>
</html>